.action-slider {
  width: 270px;

  .swiper-wrapper {
    width: 100%;
  }

  @media (max-width: $viewport--md) {
    height: 431px;
  }

  @media (max-width: $viewport--md) {
    height: 450px;
  }

  .swiper-slide {
    width: 100%;
  }
}

.action-slider .swiper-pagination {
  display: none;

  @media (max-width: $viewport--md) {
    display: block;
  }
}

.action-slider .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.2);
}

.action-slider .swiper-pagination-bullet-active {
  background-color: $crusta;
}

.action-slider .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.action-slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 14px;
}
