.action-slider {
  width: 270px;

  .swiper-wrapper {
    width: 100%;
  }

  @media (max-width: $viewport--md) {
    height: 431px;
  }

  .swiper-slide {
    width: 100%;
  }
}

.action-slider .swiper-pagination {
  display: none;

  @media (max-width: $viewport--md) {
    display: block;
    bottom: 0;
  }
}
