.bestsellers {
  padding-top: 40px;
  padding-bottom: 80px;
}

.bestsellers__list {
  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @media (max-width: $viewport--md) {
      display: none;
    }
  }

  .swiper-pagination {
    display: none;

    @media (max-width: $viewport--md) {
      display: block;
    }
  }

  .swiper-slide {
    width: 270px;
    margin-right: 0;

    @media (max-width: $viewport--md) {
      width: 100%;
    }
  }
}

.bestsellers__button {
  margin: 0 auto;
  display: block;
}

.bestsellers__title {
  margin-bottom: 25px;
  font-weight: 700;
}

.bestsellers__product-card {
  @media (max-width: $viewport--md) {
    width: 270px;
  }
}
