.bestsellers {
  padding-top: 40px;
  padding-bottom: 80px;
}

.bestsellers__list {
  @media (max-width: $viewport--sm) {
    height: 479px;
  }

  .swiper-wrapper {
    // min-height: 401px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @media (max-width: $viewport--md) {
      display: none;
    }
  }

  .swiper-pagination {
    display: none;

    @media (max-width: $viewport--md) {
      display: block;
      //background-color: green;
      z-index: 10;
      bottom: 0;
      height: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  }

  .swiper-slide {
    width: 270px;
    margin-right: 0;

    @media (max-width: $viewport--md) {
      width: 100%;
    }
  }
}

.bestsellers__list .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.2);
}

.bestsellers__list .swiper-pagination-bullet-active {
  background-color: $crusta;
}

.bestsellers__list .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.bestsellers__list .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 14px;
}

.bestsellers__button {
  margin: 0 auto;
  display: block;
}

.bestsellers__title {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 700;

  @media (max-width: $viewport--sm) {
    text-align: center;
  }
}

.bestsellers__product-card {
  @media (max-width: $viewport--md) {
    width: 270px;
  }
}
