.button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 20px;
}

.button--quick-view {
  padding: 18px 0 20px;
  font-size: 20px;
  background: $white;
  opacity: 0.9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.button--more,
.button--apply {
  padding: 15px 43px 17px;
  text-transform: uppercase;
  color: $french-grey;
  font-size: 15px;
  font-weight: 700;
  background-color: $lavender;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.button--inform {
  font-size: 16px;
}

.button--loadmore {
  font-size: 14px;
}

.button--lowerprice {
  font-size: 15px;
}

.button--inform,
.button--loadmore,
.button--lowerprice {
  color: $crusta;
  border-bottom: 1px solid rgba(255, 121, 49, 0.2);
}

.button--reset {
  font-size: 13px;
  color: $french-grey;
  border-bottom: 1px solid $french-grey;
}

.button--like {
  svg {
    fill: none;
    stroke: $gray66;
  }
}

.button--like--active {
  svg {
    fill: $crusta;
    stroke: $crusta;
  }
}

.button--promo {
  color: $french-grey;
  background-color: $lavender;
  padding: 6px 15px 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active,
  &--active {
    background: linear-gradient(91.1deg, #9710E9 1.17%, #FD8D43 99.31%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: $white;
  }
}

.button--sort-class,
.button--tireradius {
  padding: 4px 12px 4px 15px;
  font-size: 14px;
  color: $tuna;
  border-radius: 150px;
  background-color: $ghost-white;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &--active {
    color: $white;
    background-color: $crusta;
  }
}

.button--axis {
  font-size: 14px;
  padding: 4px 0;
  margin-right: 0;
}

.button--cart--full  {
  position: relative;
  &::after {
    position: absolute;
    top: 33px;
    right: -9px;
    content: "1";
    padding-top: 5px;
    font-size: 12px;
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 100px;
    background-color: $crusta;
    color: $white;

    @media (max-width: $viewport--sm) {
      top: 17px;
      right: -6px;
      padding-top: 3px;
      width: 20px;
      height: 20px;
    }
  }
}

.button--slider-next,
.button--slider-prev {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  svg {
    padding-top: 5px;
    stroke: $silver;
    position: absolute;
  }

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $hawkes-blue;
    svg {
      stroke: $night-rider;
    }
  }
}

.button--slider-prev {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.button--searchtype {
  padding: 11px 20px 13px;
  background-color: $white;
  border-radius: 5px;
  transition: text-shadow .3s;

  @media (max-width: $viewport--md) {
    padding: 6px 0;
    border-radius: 0;
    text-shadow: 0 0 .65px $tuna, 0 0 .65px $tuna;
  }

  &:hover,
  &:focus,
  &:active,
  &--active {
    background-color: $lavender;
    text-shadow: 0 0 .65px $tuna, 0 0 .65px $tuna;

    @media (max-width: $viewport--md) {
      background-color: transparent;
      opacity: 0.8;
      border-bottom: 2px solid $crusta;
    }
  }
}
