.categories  .swiper-wrapper {
  display: flex;
  justify-content: flex-start;
}

.categories  .swiper-slide {
  width: auto;
  margin-right: 40px;
  font-size: 15px;
}

.categories__button {
  position: relative;
  font-size: 15px;
  text-align: center;
  padding: 11px 5px;
  border: 2px solid transparent;
  min-width: fit-content;
  transition: text-shadow .3s;

  @media (max-width: $viewport--sm) {
    padding: 11px 0;
  }

  &:hover,
  &:focus {
    text-shadow: 0 0 .65px $tuna, 0 0 .65px $tuna;
    border-bottom: 2px solid $crusta;
  }
}

.categories__button--active {
  text-shadow: 0 0 .65px $tuna, 0 0 .65px $tuna;
  border-bottom: 2px solid $crusta;
}

.categories--catalog {
  display: none;
}
