.container {
  width: 1170px;
  margin: 0 auto;

  @media (max-width: $viewport--md) {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }

  @media (max-width: $viewport--sm) {
    width: 288px;
  }
}
