.logo {
  position: relative;
  @media (max-width: $viewport--md) {
    width: 69px;
    height: 38px;
  }

  img {
    @media (max-width: $viewport--md) {
      width: 69px;
      height: 38px;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
