.page-footer {
  background-color: $ghost-white;
  padding-top: 39px;
  padding-bottom: 45px;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.page-footer__navigation {
  width: 718px;

  // @media (max-width: $viewport--xl) {
  //   width: auto;
  // }
}

.page-footer__copyright {
  font-size: 14px;
  margin-top: 33px;
}
