.pricerange__price-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;

  label {
    font-size: 14px;
  }

  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
  }
}

.pricerange__min-price,
.pricerange__max-price {
  //width: 50%;

  input[type="number"] {
    width: 45px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}
