.promo-banner {
  width: 1170px;
  margin: 0 auto;

  @media (max-width: $viewport--md) {
    width: 768px;
    width: 100%;
  }

  // @media (max-width: $viewport--md) {
  //   width: 320px;
  // }
}

.promo-banner__image {
  img {
    @media (max-width: $viewport--md) {
      height: 92px;
    }
  }
}
