.product-price {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.product-price__full {
  font-size: 30px;
  font-weight: 700;
}

.product-price__notavailable {
  display: none;
  font-size: 18px;
  font-weight: 700;

  &--active {
    display: block;
  }
}
