.product-price {
  display: flex;
  flex-direction: column;
}

.product-price__full {
  font-size: 30px;
  font-weight: 700;
}

.product-price__notavailable {
  display: none;
  font-size: 18px;
  font-weight: 700;

  &--active {
    display: block;
  }
}

.product-price__inform {
  display: none;
  width: 190px;
  margin: 0 auto;
  margin-top: 17px;

  &--active {
    display: inline;
  }
}
