.promo-slider {
  width: 870px;
  height: 397px;
  margin: 0;

  @media (max-width: $viewport--md) {
    display: block;
    width: 100%;
  }

  @media (max-width: $viewport--md) {
    width: 100%;
    height: 164px;
  }

  img {
    @media (max-width: $viewport--md) {
      width: 100%;
      height: 164px;
    }
  }
}

.promo-slider .swiper-button-next,
.promo-slider .swiper-button-prev {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  svg {
    padding-top: 5px;
    stroke: $white;
    position: absolute;
  }

  &::after {
    display: none;
  }

  @media (max-width: $viewport--md) {
    display: none;
  }
}

.promo-slider .swiper-button-prev {
  transform: rotate(-180deg);
}

.promo-slider .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 1px solid $white;
  margin: 0 3px;

  @media (max-width: $viewport--md) {
    width: 7px;
    height: 7px;
  }
}

.promo-slider .swiper-pagination-bullet-active {
  background-color: $white;
}
