.promo-product {
  position: relative;
  border: 1px solid $weathered-stone;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 268px;
  border-radius: 3px;

  img {
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
  }

  figcaption {
    text-align: center;
    color: $black;
    margin-bottom: 16px;
  }
}

.promo-product__lable {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
}

.promo-product__price {
  position: absolute;
  top: 15px;
  right: 19px;
}

.promo-product__timer {
  align-self: end;
}
