.promo-product {
  position: relative;
  border: 1px solid $weathered-stone;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 268px;
  border-radius: 3px;
  height: 397px;

  img {
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
  }

  figcaption {
    font-weight: 700;
    text-align: center;
    color: $tuna;
  }
}

.promo-product__lable {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
}

.promo-product__price {
  position: absolute;
  top: 15px;
  right: 19px;
}

.promo-product__timer {
  align-self: end;
  z-index: -1;
  margin: 0;
  width: 100%;
}
