.product-navigation {
  position: relative;

  @media (max-width: $viewport--sm) {
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 0;
      width: 40%;
      height: 80%;
      z-index: 1;
      background-image: linear-gradient(to left, $white 0px, transparent 100px);
    }
  }
}

.product-navigation .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-navigation .swiper-slide {
  font-weight: 400;
  width: auto;
  margin-right: 46px;

  @media (max-width: $viewport--md) {
    font-size: 18px;
    margin-right: 13px;
  }
}

.product-navigation__link {
  padding: 15px 0;
  display: block;

  &--active {
    padding: 15px;
    border-bottom: 3px solid $crusta;

    @media (max-width: $viewport--sm) {
      padding: 15px 0;
      border-bottom: none;
    }
  }
}
