.search-filter .swiper-wrapper {
  display: flex;
  justify-content: flex-start;
}

.search-filter {
  padding-top: 40px;
  padding-bottom: 40px;
}

.search-filter__type {
  margin-bottom: 25px;
}

.search-filter .swiper-slide {
  width: auto;

  @media (max-width: $viewport--md) {
    font-size: 18px;
    margin-right: 13px;
  }
}
