.sort {
  padding-bottom: 50px;
  width: 1170px;
  margin: 0 auto;

  @media (max-width: $viewport--md) {
    width: 100%;
  }
}

.sort h1 {
  font-size: 30px;
  margin-bottom: 31px;

  @media (max-width: $viewport--md) {
    font-size: 20px;
  }
}

.sort__wrapper {
  display: flex;
  width: 1170px;

  @media (max-width: $viewport--md) {
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-direction: column-reverse;
  }
}

.sort__class {
  @media (max-width: $viewport--md) {
    width: 100%;
    padding-left: 16px;
  }
}

.sort__container {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $viewport--md) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.sort__bytown {
  display: none;
  @media (max-width: $viewport--md) {
    @include select-arrow(15px, 50px, 10px, 10px);
    display: block;
    order: 3;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  select {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;

    @media (max-width: $viewport--md) {
      font-size: 15px;
      font-weight: 700;
      color: $crusta;
      width: 100%;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0 auto;
    }
  }
}

.sort__types {
  width: 178px;
  font-size: 14px;
  margin-right: 21px;
  margin-left: auto;
  padding: 8px 10px 8px 20px;
  border: 1.5px solid $hawkes-blue;
  background-color: transparent;
  @include select-arrow(10px, 20px, 10px, 10px);
  @media (max-width: $viewport--md) {
    @include select-arrow(15px, 10px, 10px, 10px);
    display: flex;
    align-items: center;
    width: 210px;
    position: relative;
    padding: 15px 20px 16px 25px;
    padding-right: 0;
    border: none;
    margin: 0;
  }

  select {
    border: none;
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @media (max-width: $viewport--md) {
      font-size: 15px;
      font-weight: 700;
      padding-left: 8px;
      width: 100%;
    }
  }

  svg {
    display: none;
    @media (max-width: $viewport--md) {
      display: block;
    }
  }
}

.sort__filter-button {
  display: none;
  svg {
    fill: none;
  }

  @media (max-width: $viewport--md) {
    font-size: 15px;
    font-weight: 700;
    display: block;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    min-width: 90px;
    justify-content: space-between;
  }
}

.sort__table-button,
.sort__list-button {
  margin-left: 10px;

  @media (max-width: $viewport--md) {
    display: none;
  }

  svg {
    fill: none;
  }
}
