.sort {
  padding-bottom: 50px;
}

.sort h1 {
  font-size: 30px;
  margin-bottom: 31px;
}

.sort__wrapper {
  display: flex;
}

.sort__types {
  font-size: 14px;
  margin-right: 21px;
  margin-left: auto;
  padding: 8px 46px 8px 20px;
  border: 1.5px solid $hawkes-blue;
}
.sort__table,
.sort__list {
  margin-left: 10px;

  svg {
    fill: $tuna;
    fill: none;
  }
}
