.store-label {
  display: block;
  width: 97px;
  height: 97px;
  border-radius: 100%;
  background-color: $crusta;
  position: absolute;

  @media (max-width: $viewport--md) {
    width: 60px;
    height: 60px;
  }

  &::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
