.stores {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}

.stores__item {
  padding: 16px 25px;
  margin-bottom: 30px;
  font-size: 23px;
  width: 370px;
  height: 129px;
  border-radius: 3px;
  border: 1px solid $very-light-grey;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: $viewport--md) {
    width: 350px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  }
}

.stores__name {
  font-weight: 700;
  width: 198px;
  margin-bottom: 12px;
}

.stores__link {
  color: $weathered-stone;
  margin-top: auto;
  position: relative;
  align-self: baseline;

  &::after {
    content: url("../img/right-icon.svg");
    display: block;
    position: absolute;
    right: -15px;
    top: 0;
  }
}

.stores__item .stores__img-label {
  position: absolute;
  top: 16px;
  right: 25px;
}

.stores__img-label--shampoo {
  &::before {
    content: url("../img/shampoo.svg");
  }
}

.stores__img-label--tires {
  &::before {
    content: url("../img/tires.svg");
  }
}

.stores__img-label--tools {
  &::before {
    content: url("../img/tools.svg");
  }
}

.stores__img-label--shampoo {
  &::before {
    content: url("../img/shampoo.svg");
  }
}

.stores__img-label--spares {
  &::before {
    content: url("../img/spares.svg");
  }
}

.stores__img-label--battery {
  &::before {
    content: url("../img/battery.svg");
  }
}

.stores__img-label--accessoire {
  &::before {
    content: url("../img/accessoire.svg");
  }
}
