.tire-list {
  width: 870px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;

  @media (max-width: $viewport--sm) {
    width: 100%;
    padding-bottom: 0;
  }
}

.tire-list__product-card {
  margin-bottom: 30px;
}
