.tire-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tire-catalog__wrapper {
  @media (max-width: $viewport--md) {
    width: 100%;
  }
}

.tire-catalog__button {
  display: none;
  @media (max-width: $viewport--md) {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.tire-catalog__list {
  margin-left: auto;
}

.tire-catalog__filter {
  @media (max-width: $viewport--md) {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    z-index: 100;

    &--open {
      display: block;
    }
  }
}
