.user-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 114px;

  svg {
    fill: none;
    stroke: $gray66;
  }
}

.user-navigation__button {
  background-color: transparent;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
