.user-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 114px;

  svg {
    fill: $white;
  }

  @media (max-width: $viewport--md) {
    //margin-left: auto;
  }
}
