//COLOR VARIABLES
$white: #ffffff; //основной фоновый цвет
$black: #48494d;  // основной цвет текста
$trueblack: #000000; // доп цвет текста
$light-grey: #c4c4c4; // доп цвет текста
$medium-grey: #f0f0f4; //фоновый цвет
$grey-2: #bdbec2; //доп цвет серого текста
$dark-grey: #656464; //доп цвет темно-серого текста
$orange: #ff7931; // основной цвет декоративных элементов
$blue: #6CA7FF; // голубой цвет декоративных элементов
$gray66: #a8a8a8;

// $max-tablet-width: 1023px; // максимум для версии пишем когда идем от desktop к mobile (768px - 1023px;)
// $min-tablet-width: 768px;
// $max-mobile-width: 767px; // максимум для версии пишем когда идем от desktop к mobile (320px - 767px;)
// $min-mobile-width: 320px;

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1360px;
$viewport--xxl:                     1920px;

//RETINA VARIABLES
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//FONTS VARIABLES
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-22: 22px;
$font-26: 26px;
$font-34: 34px;
$font-26: 26px;
$font-38: 38px;
$font-45: 45px;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$height-16: 16px;
$height-18: 18px;
$height-21: 21px;
$height-23: 23px;
$height-24: 24px;
$height-29: 29px;
$height-34: 34px;
$height-38: 38px;
$height-44: 44px;
$height-49: 49px;
$height-59: 59px;
